services:
    thinko_web:
        container_name: thinko_web
        image: nginx:alpine
        ports:
            - "9000:80"
        volumes:
            - ./:/var/www
            - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - thinko_app
        networks:
            - thinko_network
    thinko_app:
        container_name: thinko_app
        build:
            context: .
            dockerfile: ./docker/Dockerfile
        depends_on:
            - thinko_db
        volumes:
            - ./:/var/www
        networks:
            - thinko_network
        ports:
            - "9080:9001"
    thinko_db:
        image: mysql
        container_name: thinko_db
        restart: unless-stopped
        environment:
            MYSQL_DATABASE: ${DB_DATABASE}
            MYSQL_PASSWORD: ${DB_PASSWORD}
            MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
        volumes:
            - thinko_database:/var/lib/mysql
        networks:
            - thinko_network
        ports:
            -   "3208:3306"
    thinko_node:
        image: node:22
        container_name: thinko_node
        working_dir: /var/www
        volumes:
            - ./:/var/www
        tty: true
        ports:
            - "5173:5173"  # For Vite development server
        environment:
            - NODE_ENV=development
        command: >
            sh -c "npm install && npm run build"
        networks:
            - thinko_network
networks:
    thinko_network:
        driver: bridge
volumes:
    thinko_database:


